* {
  outline: none;
}

html {
  font-family: 'Kalam', cursive;
  font-size: 18px;
  color: #555;
}

body {
  margin: 0;
}

input, button {
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 0 0.5rem;
}

button {
  border: 1px solid transparent;
  background: none;
}

ul {
  padding: 0;
  list-style: none;
}

hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #ccc;
}
