* {
  outline: none;
}

html {
  font-family: 'Kalam', cursive;
  font-size: 18px;
  color: #555;
}

body {
  margin: 0;
}

a {
  color: #777;
}

input, button {
  box-sizing: border-box;
  height: 2rem;
  border-radius: 3px;
  padding: 0 0.5rem;
  line-height: 1rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input[type="text"] {
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  background: none;
}

ul {
  padding: 0;
  list-style: none;
}

hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #ccc;
}
