:host() {
  display: block;
  text-align: center;
}

/*.filter { }*/

.filter--disabled {
  opacity: 0.3;
}

.text {
  width: 260px;
}

.text::placeholder {
  color: #bbb;
}

.add[disabled] {
  opacity: 0.3;
}
