html {
  font-size: 36px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: center; }

body {
  margin: 0; }

html, body {
  height: 100%;
}

h1 {
  margin: 0 0 2rem 0;
  font-size: 1.5rem; }

button {
  font-family: inherit;
  font-size: inherit;
  border-radius: 3px;
  border: 1px solid #aaa;
  background-color: #fafafa;
  outline: none;
  transition: background-color ease 200ms; }

button:active {
  background-color: #ddd; }

pre {
  font-size: 16px;
  background-color: inherit !important;
}

::selection {
  background: #fff176 !important;
}

#logo {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 80px;
  /*animation: logo-anim 30s linear infinite;*/
}

@keyframes logo-anim {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#nav {
  position: fixed;
  top: 1em;
  left: 1em;
  font-size: 16px;
  text-decoration: none;
  color: #999;
}

#layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#layout > .layout-box {
  flex-grow: 1;
  margin: 0;
  overflow: auto;
  box-sizing: border-box;
  max-height: 100%;
  width: 50%;
}

#view {
  line-height: 1.5rem;
  min-height: 1.5rem;
  border-radius: 4px;
  padding: 0 0.5rem;
  background: black;
  color: white;
  font-size: 1.2rem;
}

.line-highlight {
  border-left: 2px solid #FF1744; /* Extend PrismJS line-highlight */
}
