.container {
  position: relative;
  box-sizing: border-box;
  max-width: 640px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  margin: 0 0 1.5rem 0;
  text-align: center;
  line-height: 1em;
  font-weight: normal;
}

.navbar {
  display: block;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .navbar {
    position: absolute;
    top: 1.25rem;
  }
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-link {
  padding: 0 0.5rem;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  cursor: pointer;
}

.nav-link--active {
  border-color: #ddd;
}
