.list {
  display: flex;
  border-bottom: 1px dashed #ddd;
  padding: 0.5rem 0;
}

.text {
  flex-grow: 1;
  padding: 0 1rem;
}

.done {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.3;
}
